.inputContainer {
    width: 100%;
    height: 3.5rem;
    border-radius: var(--radius-default);
    /* border: .1rem solid var(--green1);
    color: var(--green1); */
    /* border: none;
    box-shadow: var(--shadow-floating); */
    display: flex;
    align-items: stretch;
    gap: .5rem;
}

.icon,
.eye {
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eye {
    cursor: pointer;
}

.inputContainer>input {
    /* color: var(--green1); */
    width: calc(100% - 6rem);
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

.inputContainer>input::placeholder {
    /* color: var(--light2); */
    opacity: 1;
}

.inputContainer.floating {
    border: none;
    box-shadow: var(--shadow-floating);
}

.inputContainer.red {
    border: .1rem solid var(--red-800);
}

.inputContainer.orange {
    border: .1rem solid var(--orange-800);
}

.inputContainer.amber {
    border: .1rem solid var(--amber-800);
}

.inputContainer.yellow {
    border: .1rem solid var(--yellow-800);
}

.inputContainer.green {
    border: .1rem solid var(--green-800);
}

.inputContainer.teal {
    border: .1rem solid var(--teal-800);
}

.inputContainer.cyan {
    border: .1rem solid var(--cyan-800);
}

.inputContainer.blue {
    border: .1rem solid var(--blue-800);
}

.inputContainer.indigo {
    border: .1rem solid var(--indigo-800);
}

.inputContainer.purple {
    border: .1rem solid var(--purple-800);
}