.inputContainer {
    width: 100%;
    height: 3.5rem;
    border-radius: var(--radius-default);
    display: flex;
    align-items: stretch;
    /* gap: .5rem; */
    position: relative;
    margin-top: 1.2rem;
    padding: 0 1rem;
    /* space for label */
}

.inputContainer input {
    width: 100%;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

.inputContainer label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.2s ease-out;
    padding: 0 0.25rem;
}

.inputContainer input:focus+label,
.inputContainer input:not(:placeholder-shown)+label {
    top: -1rem;
    left: 0;
    font-size: 0.75rem;
}

.inputContainer.floating {
    border: none;
    box-shadow: var(--shadow-floating);
}

.inputContainer.red {
    border: .1rem solid var(--red-600);
    color: var(--red-600);
}

.inputContainer.red input {
    color: var(--red-600);
}

.inputContainer.orange {
    border: .1rem solid var(--orange-600);
    color: var(--orange-600);
}

.inputContainer.orange input {
    color: var(--orange-600);
}

.inputContainer.amber {
    border: .1rem solid var(--amber-600);
    color: var(--amber-600);
}

.inputContainer.amber input {
    color: var(--amber-600);
}

.inputContainer.yellow {
    border: .1rem solid var(--yellow-600);
    color: var(--yellow-600);
}

.inputContainer.yellow input {
    color: var(--yellow-600);
}

.inputContainer.green {
    border: .1rem solid var(--green-600);
    color: var(--green-600);
}

.inputContainer.green input {
    color: var(--green-600);
}

.inputContainer.teal {
    border: .1rem solid var(--teal-600);
    color: var(--teal-600);
}

.inputContainer.teal input {
    color: var(--teal-600);
}

.inputContainer.cyan {
    border: .1rem solid var(--cyan-600);
    color: var(--cyan-600);
}

.inputContainer.cyan input {
    color: var(--cyan-600);
}

.inputContainer.blue {
    border: .1rem solid var(--blue-600);
    color: var(--blue-600);
}

.inputContainer.blue input {
    color: var(--blue-600);
}

.inputContainer.indigo {
    border: .1rem solid var(--indigo-600);
    color: var(--indigo-600);
}

.inputContainer.indigo input {
    color: var(--indigo-600);
}

.inputContainer.purple {
    border: .1rem solid var(--purple-600);
    color: var(--purple-600);
}

.inputContainer.purple input {
    color: var(--purple-600);
}